.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: url('./kalem.png'),auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */

.selected {
  background-color: rgb(255, 145, 0); /* veya istediğiniz bir renk */
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* src/App.css (veya projenizdeki uygun CSS dosyası) */

/* Kalın kenarlar için stil */
.thick-border {
  border: 0px; /* Kalın kenar için 2px kalınlık ve siyah renk kullanabilirsiniz. */
  cursor: pointer; /* Tıklanabilir işaretçi stilini ekler. */
  background-color: rgb(23, 230, 195);
 height: 5px;

 width: 5px;
}
.deneme {
  border: 0px; /* Kalın kenar için 2px kalınlık ve siyah renk kullanabilirsiniz. */
  cursor: pointer; /* Tıklanabilir işaretçi stilini ekler. */
  background-color: rgb(23, 230, 195);

}

/* Tablo düzenlemeleri */
table {
  border-collapse: collapse; /* Hücre kenarlarının birleştirilmesini sağlar. */
}



.td-a {
  border: 1px; /* Kalın kenar için 2px kalınlık ve siyah renk kullanabilirsiniz. */
  width: 1px; /* Kare hücrelerin genişliği (istediğiniz boyuta ayarlayabilirsiniz). */
  height: 3px; /* Kare hücrelerin yüksekliği (aynı şekilde istediğiniz boyuta ayarlayabilirsiniz). */
  text-align: center; /* Metni hücrenin ortasına hizalar. */
  background-color: rgb(23, 230, 195);
  height: 5px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 5px;
}
.td-b {
  border: 1px; /* Kalın kenar için 2px kalınlık ve siyah renk kullanabilirsiniz. */
  width: 5px; /* Kare hücrelerin genişliği (istediğiniz boyuta ayarlayabilirsiniz). */
  height: 5px; /* Kare hücrelerin yüksekliği (aynı şekilde istediğiniz boyuta ayarlayabilirsiniz). */
  text-align: center; /* Metni hücrenin ortasına hizalar. */
}


/* ortadaki*/
.td-c {
  border: 1px; /* Kalın kenar için 2px kalınlık ve siyah renk kullanabilirsiniz. */
  width: 30px; /* Kare hücrelerin genişliği (istediğiniz boyuta ayarlayabilirsiniz). */
  height: 30px; /* Kare hücrelerin yüksekliği (aynı şekilde istediğiniz boyuta ayarlayabilirsiniz). */
  text-align: center; /* Metni hücrenin ortasına hizalar. */
}

.grid-container {
  display: grid;
  grid-template-columns: 5% 15% 60% 15% 5%;
  grid-gap: 10px; /* İstediğiniz bir boşluk değeri */
  width: 100%; /* İstediğiniz genişlik */
}

.grid-item {
  padding: 10px; /* İstediğiniz dolgu değeri */
  text-align: center; /* İstediğiniz metin hizalaması */
}

.item1 {
  justify-self: start; /* Sayfada sola yasla */
}

.item2 {
  justify-self: center; /* Sayfada ortala */
}

.item3 {
  justify-self: end; /* Sayfada sağa yasla */
}




.sos {
  border: 2px double #50ffb6;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s; /* Rengin değişimi yumuşak olsun */
}

.sos:hover {
  background-color: #ff5733; /* İstenilen hover rengini burada belirleyebilirsiniz */
}
.sos.secim::before {
  content: "";
  width: 100%; /* Kare kadar genişlik */
  height: 100%; /* Kare kadar yükseklik */
  border: 2px solid red; /* Yuvarlak kenar için kalınlık ve renk ayarı */
  border-radius: 50%; /* Yuvarlak yapmak için yuvarlak köşeler */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Karenin arkasına yerleştirin */
  box-sizing: border-box; /* Kenarlığı içeriye doğru hesaplayın */
}


.sos span {
  font-weight: bold; /* Kalın yazı stilini ayarla */
  color: #0400ff; /* Yazı rengini değiştir (örneğin kırmızı) */
  font-size: 25px; /* Yazı boyutunu ayarla (örneğin 16 piksel) */

}
.sos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity:0.3 ;
}